@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimationLight {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes gradientAnimationDark {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.animated-bg-light {
    /* background: linear-gradient(45deg, #2A629A, #FFDA78, #FF7F3E, #ffffff); */
    background: linear-gradient(
        135deg,
        #e6a86f,
        hsla(0, 9%, 52%, 0.732),
        hsla(315, 73%, 54%, 0.476)
    );
    background-size: 400% 400%;
    animation: gradientAnimationLight 15s ease infinite;
    backdrop-filter: blur(50px);
}

.animated-bg-dark {
    background: linear-gradient(45deg, #000000, #16232a, hsl(160, 96%, 10%));
    background-size: 400% 400%;
    animation: gradientAnimationDark 10s ease infinite;
    backdrop-filter: blur(50px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "poppins", sans-serif;
}

#root {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}
